
body {
	font-size: 100%;
	display: block;
	position: relative;

	
}
a {

	text-decoration: none;
}

#wrapper {
	width:80%;
	margin: auto 10%;
	min-width: 965px;


}
#primarynav {
	float:left;
	color:black;
	margin-right: 1em;
	text-align: center;
	padding-bottom: 10em;
	margin-bottom: 1em;
	min-width: 11em;
	min-height: 740px;
}
table.calendar {
	border-spacing: 0;
	border: 1px solid #ccc;
	border-left: 0;
	border-bottom: 0;
	margin-left: auto;
	margin-right: auto;

}
.calendar th, .calendar td{
	border: 1px #ccc solid;
	border-collapse: collapse;
    border-top:0;
    border-right:0;
}
.days {
	background-color: #ccc;
}

.subpage a {
	padding: 2px 5px;
	background: white;
	margin: 1px 3px;
}

#breadcrumb-icon, .subpage, #page-title, .footer
 {
	display: inline-block;
}
.secondary-bg {
	background-color: #f4f4f4;
	border: 1px solid #cccccc;
	border-top-width: 0;
	border-bottom-width: 0;
}
.main-column-width {
	width:160px;
}
#content {
	float:left;
	min-width:200px;
	max-width:560px;
	width:100%;
	display: block;
	text-align: center;
}


	

#locations {
	float:left;
	margin-left: 1em;
	text-align: center;
	list-style-type: none;
	padding-right: .325em;
	padding-bottom: 10em;
	margin-bottom: 1em;
	min-width: 11em;
	min-height: 740px;
}
#chlang {
	width:100px;
	height: 22px;
	margin-top: 2em;
	margin-bottom: 2em;
	

}
.areas {
	list-style-type: none;
	margin: 0 auto 0 auto;
	padding: 2px 5px;
	font-weight: bold;
}
.footermenu{
	list-style-type: none;
	background-color: #f4f4f4;
	border: 1px solid #cccccc;
	border-right-width: 0;
	border-left-width: 0;
	padding: 5px;
	text-align: center;
	clear: both;
	width: 100%;
	float: left;
	margin-bottom: 0;
	left: 0;
	right:0;
	border-top: 1px #ccc solid;
	height: 26px;


}
.footermenu li {

	display: inline;



	
}




.block {
	float:left;
	width:175px;
	color:black;
}
.block h3 {
	text-transform: lowercase;
	text-align:center;

	

}
.block li {
	float:left;
	min-width:65px;
	text-align: left;
	list-style-type: none;
}